html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Alfa Slab One", serif;
  background-color: rgb(241, 241, 179);
}
body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  text-align: center;
  background-color: rgb(241, 241, 157);
  font-family: "Alfa Slab One", serif;
  font-size: 10px;
}

img {
  display: block;
  margin: 0 auto 20px auto; /* отступ снизу уменьшен до 20px */
  width: 300px;
  height: auto;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

p,
li {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: left; /* теперь по центру */
  margin: 10px 0; /* вертикальные отступы */
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 10px 0;
}

a {
  color: navy;
  text-decoration: none;
}
